@font-face {
    font-family:Alummi;
    src: url(fontes/Fontspring-DEMO-theseasons-reg.otf);
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: cabeçalho;
    src: url(fontes/GlacialIndifference-Regular.otf);
    font-weight: 900;
    font-style: normal;
}
#linha{
    width: 80%;
    display: flex;
    margin: auto;
}
#busca{
    background-color: #d4d5d686;
    width: 100px;
    height: 50px;
    margin-top: 1%;
    border-radius: 20px;
}

.menu{
    font-family: cabeçalho;
    font-size: 200%;
    color: #000;
    text-align: center;
    padding: 10px;
    margin-left: 3%;
    margin-top: 1%;
    text-decoration: none;
}

#white-square{
    background-color:#d4d5d686;
    height: 100%;
    width: 80%;
    border-radius: 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    margin-top: 20px;
    box-shadow: 5px 5px 5px #00000054;
}
#news{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-family: Alummi;
    margin-inline: auto;
    margin-top: 30px;
    font-size: 60px;
}